# Ignore environment variables file
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# SQLite/DB
db.sqlite3
*.sqlite3
*.db
*.bak
*.tmp

# Logs
*.log

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage
.coverage
htmlcov/

# Certificates/Keys
*.pem
*.key
*.crt
*.cache

/staticfiles
